body{
    background-color: #f3f5f7;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 复制粘贴清除浮动塌陷 链接下划线 */
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.clearfix::before,.clearfix::after{
    content:"";
    display: table;
}
.clearfix::after{
    clear: both;
}

body{
    background-color: #f3f5f7;
}

/* 版心 */
.wrapper{
    width: 1200px;
    margin: 0 auto;
}

.header{
    height: 42px;
    /* background-color: pink; */
    margin-top: 30px;
    margin-bottom: 39px;
}

.header h1{
    float: left;
    margin-right: 70px;
}

/* 导航 */
.nav{
    float: left;
    height: 42px;
    /* background-color: skyblue; */
}

.nav li{
    float: left;
    margin-right: 26px;
}

.nav li:hover{
    border-bottom: 2px solid #00a4ff;
}

.nav li a{
    height: 42px;
    line-height: 42px;
    text-align: center;
    padding-left: 9px;

    font-size: 18px;
    color: #050505;
    /* 字间距 */
    letter-spacing: 2px;
}


/* 搜索 */
.search{
    margin-left: 94px;
    float: left;
    width: 414px;
    height: 40px;
    border: 1px solid #00a4ff;
}
.search input{
    float: left;
    padding-left: 20px;
    width: 362px;
    height: 38px;
    border: 0;
    background-color: #fff;

}

.search input::placeholder{
    font-size: 14px;
    color: #bfbfbf;
}

.search button{
    float: right;
    width: 50px;
    height: 38px;
    background: url(../images/btn.png);
    border: 0;
}

/* 用户 */
.user{
    float: left;
    margin-left: 30px;
    height: 40px;
    /* background-color: green; */
    line-height: 40px;
    font-size: 14px;
    color: #666;
}
/* 调整图片垂直对齐 */
.user img{
    vertical-align: middle;
}

.user span{
    margin-left: 4px;
    font-size: 14px;
    color: #666666;
}


/* 轮播图 */
/* 这是通蓝盒子 */
.banner{
    height: 420px;
    background-color: #1c036c;
}

 /* 这是版心 */
.banner .wrapper{
    height: 420px;
    background-image: url(../images/banner2.png);
}

.banner .wrapper .left{
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;

    width: 190px;
    height: 420px;
    background-color: rgba(0,0,0,.3);
    line-height: 42px;
}
.banner .left a{
    font-size: 14px;
    color: #ffffff;
}
.banner .left a:hover{
    color: #00b4ff;
}
.banner .left a span{
    float: right;
}


.banner .wrapper .right{
    margin-top: 50px;
    width: 231px;
    height: 300px;
    float: right;
    background-color: white;
}

.banner .right h3{
    text-align: center;
    width: 231px;
    height: 48px;
    background-color: #9bceea;
    line-height: 48px;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 2px;
}
.banner .right .content{
    margin: 0 18px;
}
.banner .right dl{
    padding: 14px 0;
    border-bottom: 2px solid #e5e5e5;
}
.banner .right dt{
    font-weight: 700;
    color: #4e4e4e;
}
.banner .right dt span{
    font-size: 14px;
    color: #4e4e4e;
}
.banner .right dd{
    font-size: 12px;
    font-weight: 700;
    color: #a5a5a5;
}

.right .more{
    margin: 4px 14px 10px;
    display: block;
    width: 200px;
    height: 40px;
    /* background-color: green; */
    border: 1px solid #00a4ff;
}
.right a{
    line-height: 40px;
    text-align: center;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
}


/* 精品推荐 */
.goods{
    margin-top: 8px;
    height: 40px;
    background-color: white;
    box-shadow: 0px 2px 3px 0px 
    rgba(118, 118, 118, 0.2);

}
.goods h2{
    float: left;
    margin-left: 34px;
    font-size: 16px;
    color: #00a4ff;
    line-height: 40px;
    padding-right: 34px;
}

.goods li{
    float: left;
    line-height: 40px;
}
.goods li a{
    padding:0 30px;
    border-left: 1px solid #bfbfbf;
}
.goods .interest{
    float: right;
    margin-right: 26px;
    font-size: 14px;
    color: #00a4ff;
    line-height: 40px;
}

/* 精品推荐课程 */
.box{
    margin-top: 37px;
    /* background-color: pink; */
}

.box .title{
    height: 40px;
}

.box .title h3{
    float: left;
    font-size: 20px;
    color: #494949;
    font-weight: 400;
}
.box .title p{
    float: right;
    font-size: 12px;
    color: #a5a5a5;
}
.content{
    /* background-color: pink; */
}
.box .content li{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 228px;
    height: 270px;
    background-color: white;
    box-shadow: 0px 2px 3px 0px 
    rgba(118, 118, 118, 0.2);
}
.box .content li:nth-child(5n){
    margin-right: 0;
}




.box .content li h3{
    margin: 20px;
    font-size: 13px;
}
.box .content li p{
    margin: 0 20px;
    font-size: 12px;
}
.box .content li p span{
    font-size: 12px;
    color: #ff7c2d;
}


/* 版权 */
.footer{
    height: 417px;
    background-color: white;
}
.footer .left{
    float: left;
    margin-left: 21px;
    padding-top: 37px;
}
.footer .left p{
    margin-top: 7px;
    font-size: 12px;
    color: #666666;
    margin-bottom: 15px;
}
.footer .wrapper .left .xiazai{
    display: inline-block;
    text-align: center;
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
    line-height: 36px;
    color: #00a4ff;
    font-size: 16px;
}

.footer .right{
    float: right;
    margin-left: 120px;
    padding-top: 37px;
    padding-right: 37px;
}
.footer .right dt{
    font-size: 16px;
    margin-bottom: 14px;
}
.footer .right dd{
    font-size: 12px;
}


/* 课程模块 hot 定位小图 */
.box .content li .hot{
    position: absolute;
    /* left: 192px; */
    right: -4px;
    top: 5px;

}

.box .content li{
    /* hot配合子绝父相 */
    position: relative;
}